*{
    font-family: sans-serif;
    font-size: 13px;
}

  .card-title,.modal-title{
    font-weight: 900;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-body {
    flex-grow: 1;
    overflow: hidden;
  }
  
  .card-text {
    overflow: auto;
  }
  .zoom-effect {
    transition: transform 0.3s;
  }
  
  .zoom-effect:hover {
    transform: scale(1.1);
  }
  